In [12]:
import sqlite3
from sqlite3 import Error
import os
import pandas as pd
import json
from flask import jsonify
def table_lengths():
    cnx = sqlite3.connect('../data/testdb.db')
    table_names = list(pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table'", cnx)['name'])
    table_names.remove('sqlite_sequence')
    table_length_dict = {}
    for name in table_names:
        table_length = pd.read_sql_query("SELECT COUNT(*) AS 'table_length' FROM "+str(name)+"", cnx)
        table_length_dict[name] = json.loads(str(table_length.iloc[0,0]))
    db_page_size = pd.read_sql_query("PRAGMA PAGE_SIZE", cnx).iloc[0,0]
    db_page_count = pd.read_sql_query("PRAGMA PAGE_COUNT", cnx).iloc[0,0]
    db_bytes = {"Database size (bytes)": json.loads(str(db_page_size * db_page_count))}
    return (table_length_dict, db_bytes)

In [13]:
table_lengths()

({'people': 30,
  'sites': 100,
  'visits': 306,
  'frequent_browsers': 0,
  'browser_frequency': 30},
 {'Database size (bytes)': 53248})

In [10]:

def table_info():
    cnx = sqlite3.connect('../data/testdb.db')
    table_names = list(pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table'", cnx)['name'])
    table_names.remove('sqlite_sequence')
    table_info_dict = {}
    for name in table_names:
        table_column_info = pd.read_sql("PRAGMA table_info("+str(name)+")", cnx).to_json()
        table_info_dict[name] = json.loads(table_column_info)
    return table_info_dict

In [11]:
table_info()

{'people': {'cid': {'0': 0, '1': 1, '2': 2},
  'name': {'0': 'id', '1': 'first_name', '2': 'last_name'},
  'type': {'0': 'integer', '1': 'varchar(50)', '2': 'varchar(50)'},
  'notnull': {'0': 0, '1': 1, '2': 1},
  'dflt_value': {'0': None, '1': None, '2': None},
  'pk': {'0': 1, '1': 0, '2': 0}},
 'sites': {'cid': {'0': 0, '1': 1},
  'name': {'0': 'id', '1': 'url'},
  'type': {'0': 'INTEGER', '1': 'varchar(255)'},
  'notnull': {'0': 0, '1': 1},
  'dflt_value': {'0': None, '1': None},
  'pk': {'0': 1, '1': 0}},
 'visits': {'cid': {'0': 0, '1': 1, '2': 2},
  'name': {'0': 'personId', '1': 'siteId', '2': 'time_visited'},
  'type': {'0': 'int', '1': 'int', '2': 'datetime'},
  'notnull': {'0': 0, '1': 1, '2': 0},
  'dflt_value': {'0': None, '1': None, '2': None},
  'pk': {'0': 0, '1': 0, '2': 0}},
 'frequent_browsers': {'cid': {'0': 0, '1': 1},
  'name': {'0': 'person_id', '1': 'num_sites_visited'},
  'type': {'0': 'int', '1': 'int'},
  'notnull': {'0': 1, '1': 1},
  'dflt_value': {'0': None, '1': None},
  'pk': {'0': 0, '1': 0}},
 'browser_frequency': {'cid': {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4},
  'name': {'0': 'personId',
   '1': 'num_sites_visited',
   '2': 'first_name',
   '3': 'last_name',
   '4': 'time_visited'},
  'type': {'0': 'INT', '1': '', '2': 'TEXT', '3': 'TEXT', '4': 'NUM'},
  'notnull': {'0': 0, '1': 0, '2': 0, '3': 0, '4': 0},
  'dflt_value': {'0': None, '1': None, '2': None, '3': None, '4': None},
  'pk': {'0': 0, '1': 0, '2': 0, '3': 0, '4': 0}}}