In [54]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Create Database Connection
# ----------------------------------
# Establish Connection to MySQL
# engine = create_engine('mysql://root:mypassword@data-bootcamp-rutgers.cn6jzamkgcqr.us-west-2.rds.amazonaws.com:3306/surfingdb')
engine = create_engine("sqlite:///testdb.db")
conn = engine.connect()

# Query All Records in the the Database
import pandas as pd
data = pd.read_sql("SELECT personID, COUNT(personID) AS num_sites_visited FROM visits \
                    LEFT JOIN sites ON sites.id=visits.siteId \
                    LEFT JOIN people ON people.id=visits.personID \
                    GROUP BY personID \
                    ORDER BY num_sites_visited DESC \
                    LIMIT 10", conn)
newt = pd.read_sql("SELECT * FROM frequent_browsers", conn)
newt

Empty DataFrame
Columns: [person_id, num_sites_visited]
Index: []

In [5]:
import sqlite3
from sqlite3 import Error
 
import os

In [110]:
conn.close()

In [102]:
# queries

queries = [
    " CREATE TABLE browser_frequency AS \
        SELECT personID, COUNT(personID) AS num_sites_visited, first_name, last_name, time_visited FROM visits \
        LEFT JOIN sites ON sites.id=visits.siteId \
        LEFT JOIN people ON people.id=visits.personID \
        GROUP BY personID \
        ORDER BY num_sites_visited DESC \
    ",
    " SELECT personID, COUNT(personID) AS num_sites_visited FROM visits \
        LEFT JOIN sites ON sites.id=visits.siteId \
        LEFT JOIN people ON people.id=visits.personID \
        GROUP BY personID \
        ORDER BY num_sites_visited DESC \
        LIMIT 10 \
    "
        ]

' CREATE TABLE browser_frequency AS         SELECT personID, COUNT(personID) AS num_sites_visited, first_name, last_name, time_visited FROM visits         LEFT JOIN sites ON sites.id=visits.siteId         LEFT JOIN people ON people.id=visits.personID         GROUP BY personID         ORDER BY num_sites_visited DESC '

In [108]:
db_file = os.path.abspath('testdb.db')
sql = " CREATE INDEX rank ON browser_frequency" 

def find_frequent_browsers(database):
    
    """ create a database connection to a SQLite database """
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
        
        cursor = conn.cursor()
        
        for x in queries:
            cursor.execute(sql)
            conn.commit()
            results = cursor.fetchall()
            print(results)
        
        
        
    except Error as e:
        print("Error "+str(e))       
        
    finally:
        conn.close()

In [109]:
find_frequent_browsers(db_file)

2.6.0
Error near "ON": syntax error

In [74]:
print(db_file)

C:\Users\gblac\Desktop\PandaFiles\PersonalRepo\Django\Django_1\django_env1\cherre\testdb.db

In [ ]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import PyMySQL (Not needed if mysqlclient is installed)
import pymysql
pymysql.install_as_MySQLdb()

In [ ]:
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [ ]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [ ]:
# Create Surfer and Board classes
# ----------------------------------
class Surfer(Base):
    __tablename__ = 'surfers'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    hometown = Column(String(255))
    wipeouts = Column(Integer)
    rank = Column(Integer)

class Board(Base):
    __tablename__ = 'surfboards'
    id = Column(Integer, primary_key=True)
    surfer_id = Column(Integer)
    board_name = Column(String(255))
    color = Column(String(255))
    length = Column(Integer)

In [ ]:
# Create specific instances of the Surfer and Board classes
# ----------------------------------
# Create a new surfer named "Bruno"
surfer = Surfer(name='Bruno', hometown="LA", rank=10)
# Create a new board and associate it with a surfer's ID
board = Board(surfer_id=1, board_name="Awwwyeah", color="Blue", length=68)

In [ ]:
# Create Database Connection
# ----------------------------------
# Establish Connection to MySQL
# engine = create_engine('mysql://root:mypassword@data-bootcamp-rutgers.cn6jzamkgcqr.us-west-2.rds.amazonaws.com:3306/surfingdb')
engine = create_engine("sqlite:///testdb.sqlite")
conn = engine.connect()

In [ ]:
# Create both the Surfer and Board tables within the database
Base.metadata.create_all(conn)

In [ ]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [ ]:
# Query All Records in the the Database
import pandas as pd
data = pd.read_sql("SELECT * FROM visits", conn)
data.head()

In [ ]:
# Query All Records in the the Database
import pandas as pd
data = pd.read_sql("SELECT * FROM sites", conn)
data.head()

In [ ]:
# Query All Records in the the Database
import pandas as pd
data = pd.read_sql("SELECT * FROM people", conn)
data.head()

In [ ]:
# Query All Records in the the Database
import pandas as pd
data = pd.read_sql("SELECT * FROM visits LEFT JOIN sites LEFT JOIN people", conn)
data.head()

In [ ]:
# Add "Bruno" to the current session
session.add(surfer)
# Add "Awwwyeah" to the current session
session.add(board)
# Commit both objects to the database
session.commit()

In [ ]:
# Query the database and collect all of the surfers in the Surfer table
surfer_list = session.query(Surfer)
for bro in surfer_list:
    print(bro.name)
    print(bro.hometown)
    print(bro.rank)