In [84]:
import numpy as np
import pandas as pd
import random as r

In [42]:
#1 How do you find the missing number in a given integer array of 1 to 100?
a = list(range(0,10,1))
a.pop(2)
[x for x in list(range(0,10,1)) if x not in a]

[2]

In [79]:
#2 How do you find the duplicate number on a given integer array?
a = list(range(0,10,1))
a = [2] + a
list(set([x for x in a if a.count(x) > 1]))

[2]

In [94]:
#3 How do you find the largest and smallest number in an unsorted integer array?
a = [r.randint(0,10) for x in range(0,10,1)]

In [50]:
def visualization():
    # import pandas as pd
    # import bokeh
    # from bokeh.embed import components
    # from bokeh.plotting import figure
    # from bokeh.resources import INLINE
    # from bokeh.util.string import encode_utf8

    # import sqlite3
    # import pandas as pd
    # cnx = sqlite3.connect('../data/testdb.db')

    # df = pd.read_sql_query("SELECT * FROM browser_frequency", cnx)

    # fig = figure(plot_width=600, plot_height=600)
    # fig.vbar(
    #     x=df.last_name,
    #     width=0.5,
    #     bottom=0,
    #     top=df.num_sites_visited,
    #     color='navy'
    # )

    # # grab the static resources
    # js_resources = INLINE.render_js()
    # css_resources = INLINE.render_css()

    # # render template
    # script, div = components(fig)
    # html = render_template(
    #     'index.html',
    #     plot_script=script,
    #     plot_div=div,
    #     js_resources=js_resources,
    #     css_resources=css_resources,
    # )
    # return encode_utf8(html)
    import bokeh
    from bokeh.io import show, output_file
    from bokeh.models import ColumnDataSource
    from bokeh.palettes import Spectral6
    from bokeh.plotting import figure
    from bokeh.transform import factor_cmap
    

    import sqlite3
    import pandas as pd
    cnx = sqlite3.connect('testdb.db')

    df = pd.read_sql_query("SELECT * FROM browser_frequency", cnx)

    output_file("bar_colormapped.html")

    source = ColumnDataSource(df)
    p = figure(plot_width=600, plot_height=350, toolbar_location=None, title="Browser Frequency")
    p.vbar(x='last_name', top='num_sites_visited', width=20, source=source,
        line_color='black')


    show(p)

In [51]:
visualization()

In [43]:
import sqlite3
import pandas as pd
cnx = sqlite3.connect('testdb.db')

df = pd.read_sql_query("SELECT * FROM browser_frequency", cnx)
df.head()

   personId  num_sites_visited first_name   last_name         time_visited
0        30                 28      Alena    Jacobson  2006-08-02 23:43:58
1         6                 18      Alvin      Bergey  2014-06-13 04:48:38
2        19                 17      Alena    Jacobson  2000-04-08 08:24:02
3         3                 16      Terri        Alli  2007-08-04 08:20:10
4         2                 14  Annabelle  Guttierrez  2001-03-15 09:31:26

In [59]:
def viz():
    from bokeh.io import show, output_file
    from bokeh.models import ColumnDataSource
    from bokeh.palettes import Spectral6
    from bokeh.plotting import figure
    from bokeh.transform import factor_cmap

    output_file("bar_colormapped.html")

    import sqlite3
    import pandas as pd
    cnx = sqlite3.connect('testdb.db')

    df = pd.read_sql_query("SELECT * FROM browser_frequency", cnx)

    output_file("bar_colormapped.html")

    source = ColumnDataSource(df)
    p = figure(plot_width=600, plot_height=350, toolbar_location=None, title="Fruit Counts")
    p.vbar(x='last_name', top='num_sites_visited', width=0.9, source=source,
           line_color='white')

    p.xgrid.grid_line_color = None
    p.y_range.start = 0
    p.y_range.end = 9
    p.legend.orientation = "horizontal"
    p.legend.location = "top_center"

    show(p)
viz()

c:\users\gblac\anaconda3\envs\pythondata\lib\site-packages\bokeh\models\plots.py:55: UserWarning:
You are attemptings to set `plot.legend.orientation` on a plot that has zero legends added, this will have no effect.

Before legend properties can be set, you must add a Legend explicitly, or call a glyph method with the 'legend' parameter set.

  warnings.warn(_LEGEND_EMPTY_WARNING % attr)
c:\users\gblac\anaconda3\envs\pythondata\lib\site-packages\bokeh\models\plots.py:55: UserWarning:
You are attemptings to set `plot.legend.location` on a plot that has zero legends added, this will have no effect.

Before legend properties can be set, you must add a Legend explicitly, or call a glyph method with the 'legend' parameter set.

  warnings.warn(_LEGEND_EMPTY_WARNING % attr)

In [3]:
from cherre_exercise import instructions

ImportError: cannot import name 'instructions'